<html lang='en'>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width,initial-scale=1.0'>
<title>webRTC client</title>
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="video-content">
      <div class="localVideo-box">
        <video id="localVideo" autoplay playsinline poster="./img/img1.jpg"></video>
      </div>
      <div class="remoteVideo-box">
        <video id="remoteVideo" autoplay playsinline poster="./img/img2.jpg"></video>
      </div>
    </div>    
    <div style="text-align: center;">
      <input type="text" id="roomName">
      <button id="startButton">进入房间</button>
      <button id="callButton">呼叫</button>
      <button id="hangupButton">挂断</button>
      <button id="bindWidthChange">修改码率</button>
    </div>

</body>
<script src="https://webrtc.github.io/adapter/adapter-latest.js" ></script>
<script src="./lib/socket.io.js"></script>
<script src="./js/client.js"></script>
</html>
