<html lang='en'>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width,initial-scale=1.0'>
<meta name="description" content="页面布局：div高度已知，三栏布局，左右各300px">
<title>页面布局</title>
<link rel="stylesheet" href="layout.css">
</head>
<body>
    <section class="layout flex">
        <style>
            .layout.flex article{
                display: flex;
            }
            .layout.flex .left,
            .layout.flex .right{
                width: 300px;
            }
            .layout.flex .center{
                flex-grow: 1;
            }
        </style>
        <article>
            <div class="left">左边</div>
            <div class="center">中间</div>
            <div class="right">右边</div>
        </article>
    </section>

    <section class="layout grid">
        <style>
            .layout.grid article{
                display: grid;
                grid-template-columns:300px auto 300px;
            }
        </style>
        <article>
            <div class="left">左边</div>
            <div class="center">中间</div>
            <div class="right">右边</div>
        </article>
    </section>

    <section id="box">
        <div class="left">左边</div>
        <div class="center">中间</div>
        <div class="right">右边</div>
    </section>
</body>

</html>