*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
section{
    margin-top: 20px;
}
article>div{
    border: 1px solid black;
    height: 100px;
}

/* 方案一 */
/*  #box{
    display: flex;
}
.box2{         
     flex-grow: 1;
    width: calc(100% - 600px)
} */

/* 方案二 */
/* #box{
    display: table;
}
#box>div{
    display: inline-block;
}
.box2{         
    width: calc(100% - 600px)
} */

/* 方案三 */
/*  #box>div{
    float: left;
} 
.box2{
    width: calc(100% - 600px)
} */ 

/* 方案四 */
/* #box{
    position: relative;
}
#box>div{
    position: absolute;
}
.box1:first-of-type{
    left: 0;
}
.box1:last-of-type{
    right:0;
}
.box2{
    left: 300px;
    width: calc(100% - 600px)
} */

/* 方案五：grid */
/* #box{
    display: grid;
    grid-template-columns:300px auto 300px;
} */

/* 方案六：table */
#box{
    display: table;
    width: 100%;
}
#box div{
    display: table-cell;
    border: 1px solid black;
}
#box .left,
#box .right{
    width: 300px;
}