@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  list-style-type: none;
}

html,
body {
  width: 100%;
  overflow-x: auto !important;
}

body {
  background-color: #f2f4f4 !important;
}

@media screen and (max-width: 1147px) {
  body {
    font-size: 12px !important;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.handle-box,
.header-top {
  position: fixed;
  z-index: 999999;
}

.header-top {
  padding: 2px 10px;
  height: 30px;
  width: 100%;
  background-color: #35465B;
}

.header-top > div:first-of-type {
  width: 73px;
  height: 25px;
  background: url("../img/logo.png") no-repeat;
  background-size: 100% 100%;
}

.header-right > div {
  margin-left: 15px;
  display: inline-block;
  line-height: 2;
  color: #ffffff;
  vertical-align: middle;
}

@media screen and (max-width: 1147px) {
  .header-right > div {
    margin-left: 10px;
  }
}

.header-right > div:last-of-type {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: url("../img/phone.png") no-repeat;
  background-size: 100% 100%;
}

.btns-qn,
#setAway,
#setModel {
  margin-right: 4px;
  padding: 0 10px;
  height: 28px;
  color: #ffffff;
  background-color: #49abf6;
  border-radius: 4px;
  border: 1px solid #49abf6;
  opacity: 1;
}

#commonLagBtn .qn-button.primary {
  background-color: #49abf6;
  border: 1px solid #49abf6;
  color: white;
}

#commonLagBtn .qn-button.danger {
  background-color: #C1C1C1;
  border: 1px solid #C1C1C1;
  color: white;
}

#commonLagBtn #chat_quick_reply #common_Language_set .common-Language-create .commLang-create-title {
  background-color: #49abf6;
}

#setAway, #setModel {
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../img/select-icon.png") no-repeat scroll right center #49abf6;
  background-size: contain;
  padding-right: 25px;
  width: 85px;
}

#setModel {
  width: 92px;
}

select#setAway::-ms-expand, select#setModel::-ms-expand {
  display: none;
  background-color: #49abf6;
}

.handle-box {
  top: 30px;
  padding: 7px 10px;
  margin: 5px 0px;
  width: 100%;
  background-color: #ffffff;
}

.handle-box input {
  margin-right: 10px;
  width: 118px;
  height: 28px;
  border-radius: 4px;
  text-indent: 5px;
  border: 1px solid #E5E5e6;
  background-color: #edf2f6;
}

.handle-box > div {
  text-align: center;
}

.handle-box-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 35px;
}

.more-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 30px;
  height: 28px;
  position: absolute;
  right: 11px;
}

#more {
  cursor: pointer;
}

#more.disabled {
  background-color: #ffffff !important;
}

.more-options {
  position: absolute;
  right: 11px;
  top: 50px;
  min-width: 145px;
  font-size: 13px;
  border: 1px solid #BBBBBB;
  border-radius: 0px 0px 3px 3px;
  background-color: #ffffff;
  display: none;
}

.more-options p {
  text-align: left;
  padding: 0 10px;
  color: #101010;
  cursor: pointer;
}

.more-options .disabled {
  background-color: #FFFFFF !important;
  cursor: not-allowed;
  color: #c0c4cc;
}

.more-options .more-options-title {
  padding: 10px;
  color: #FFFFFF;
  background-color: #35465A !important;
  cursor: text;
}

#logined-box {
  margin: 80px auto 10px;
  height: 535px;
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#logined-box > div {
  vertical-align: top;
  overflow-y: auto;
}

#content {
  position: relative;
  margin-left: 10px;
  width: 738px;
  height: 100%;
  border: 1px solid #eee;
}

.video-box,
.video-handleMessage {
  height: 100%;
  background-color: #ffffff;
}

.show-video-box {
  display: none;
}

.video-box {
  position: relative;
  margin: 0 5px;
  width: 275px;
}

.video-box #video {
  position: relative;
  height: calc(100% - 65px);
  width: 100%;
}

.video-box #video #video-container {
  margin: 0 2%;
  width: 96%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.video-box #video #local-video {
  position: absolute;
  top: 0;
  left: 2%;
  width: 90px;
  height: 160px;
  border: 1px solid #A9A9A9;
  background-color: black;
}

.video-box #video-hidden {
  height: calc(100% - 65px);
  width: 100%;
  background-image: url("../img/audioTalk.png");
  background-size: 100% 100%;
  display: none;
}

.video-box .video-btn {
  padding: 10px;
  bottom: 0;
  width: 100%;
  height: 45px;
}

.video-box .video-btn li {
  width: 60px;
  list-style: none;
  text-align: center;
  color: #49abf6;
  /* &:last-of-type{
              .icon-btn{
                color: red;
              }
            } */
}

.video-box .video-btn li .icon-btn {
  cursor: pointer;
}

.video-box .video-btn li .icon-disabled {
  color: #C1C1C1;
}

.video-box .video-btn .hold-disabled {
  color: #C1C1C1;
}

#video-message-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #fafafa;
}

#video-message-nav li {
  padding: 0 10px;
  height: 100%;
  line-height: 40px;
  cursor: pointer;
}

#video-message-nav .active-nav {
  color: #49abf6;
  border-bottom: 3px solid #49abf6;
}

.video-handleMessage {
  padding: 0 10px;
  width: 330px;
}

.video-handleMessage .data-none-tip {
  margin-top: 50%;
  text-align: center;
}

.video-handleMessage .img-cut-list li,
.video-handleMessage #tabContent li {
  padding: 10px 0;
  border: 1px solid #fafafa;
  color: #374051;
  font-size: 12px;
  line-height: 15px;
}

.video-handleMessage .img-cut-list li .btn-div,
.video-handleMessage #tabContent li .btn-div {
  color: #49abf6;
  cursor: pointer;
}

.video-handleMessage .img-cut-list .desc-show,
.video-handleMessage #tabContent .desc-show {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.video-handleMessage .img-cut-list .desc-show:hover,
.video-handleMessage #tabContent .desc-show:hover {
  overflow: visible;
  word-break: break-all;
  white-space: pre-wrap;
  height: auto;
}

.video-handleMessage #tabContent {
  width: 100%;
  height: calc(100% - 60px);
}

.video-handleMessage #tabContent .list-img {
  width: 100%;
  height: 100%;
}

.video-handleMessage .img-cut-list .desc-show {
  width: 190px !important;
}

.video-handleMessage .img-cut-list .img-name-input {
  display: none;
}

.video-handleMessage .img-cut-show {
  padding: 10px;
  text-align: center;
}

.video-handleMessage .img-cut-show .img-box {
  margin: 10px 0;
  width: 264px;
  height: 395px;
}

.video-handleMessage .img-cut-show .img-box img {
  width: inherit;
  height: inherit;
}

.video-handleMessage .confirm-btn {
  margin-left: 35px;
}

.unlogin-content {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: #ffffff;
}

.disabled {
  border-color: #C1C1C1 !important;
  background-color: #C1C1C1 !important;
  cursor: default;
}

#commonLagBtn {
  margin-left: 5px;
  width: 600px;
  height: 100%;
  display: none;
  background-color: white;
  overflow-y: hidden !important;
}

#callInTip {
  z-index: 99999;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#callInTip > div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -276px;
  margin-top: -185px;
  width: 553px;
  height: 371px;
  background-color: white;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ebeef5;
  border-radius: 4px;
}

#callInTip > div > div {
  margin: 0 auto 10px;
}

#callInTip .callInTip-icon {
  margin-top: 30px;
  border-radius: 50%;
  width: 67px;
  height: 65px;
  background: url("../img/usercall.png") no-repeat;
  background-size: 100% 100%;
}

#callInTip .callInTip-nick {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bolder;
}

#callInTip .callInTip-tip {
  font-size: 14px;
  color: #60B5DE;
}

#callInTip #acceptCall {
  cursor: pointer;
  width: 48px;
  height: 48px;
  background: url("../img/audio-mico.png") no-repeat;
  background-size: 100% 100%;
}

#callInTip #refusedCall {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("../img/cancel.png") no-repeat;
  background-size: 100% 100%;
}

#callInTip ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F6604D;
  font-size: 21px;
}

#callInTip ul li {
  -webkit-animation: move 2s infinite ease-in-out;
          animation: move 2s infinite ease-in-out;
}

#callInTip ul li:nth-of-type(2) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

#callInTip ul li:last-of-type {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.video-data-recode ul {
  width: 150px;
}

.video-data-recode ul li {
  padding: 5px 0 !important;
}

.video-params {
  margin: 0 auto 10px;
  width: 270px;
}

#set-video-params .set-params {
  margin: 0 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#set-video-params .set-params label {
  margin: 0 10px 5px;
  font-weight: 500;
}

#robotAgent-content {
  position: relative;
  width: 780px;
  height: 100%;
  border: 1px solid #eee;
}

#robotAgentList {
  border-left: 2px solid #49abf6;
}

.robotAgent {
  padding: 5px;
  cursor: pointer;
}

.robotAgent:hover {
  background-color: #F2F2F2;
}

.robotAgent-logo {
  margin-top: 5px;
  width: 35px;
  height: 35px;
  background-color: #49abf6;
  border-radius: 50%;
  text-align: center;
}

.robotAgent-logo span {
  color: #ffffff;
  font-size: 25px;
}

.robotAgent-msg {
  width: calc(100% - 45px);
}

.robotAgent-msg p {
  margin-bottom: 5px;
  word-spacing: 12px;
}

.robotAgent-monitor {
  padding: 10px;
  margin-left: 278px;
  width: calc(100% - 278px);
  background-color: #FAFAFA;
}

.robotAgent-monitor > div:first-of-type {
  width: 100%;
  height: 328px;
}

.robotAgent-monitor-replace {
  margin-left: 278px;
  width: calc(100% - 278px);
  background-color: #FAFAFA;
}

.robotAgent-monitor-replace div {
  margin: 100px auto;
  width: 174px;
  height: 174px;
  background: url("../img/robot.png") no-repeat;
  background-size: 100% 100%;
}

.hangup-btn {
  background-color: #F6604D;
  border-color: #F6604D;
}

@-webkit-keyframes move {
  0%, 40%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes move {
  0%, 40%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

::-webkit-scrollbar {
  height: 5px;
}

#selectStatus, #selectCallInType {
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  /*在选择框的最右侧中间显示小箭头图片*/
  padding-right: 25px;
}

#selectStatus {
  border: 1px solid #767676;
  background: url("../img/select-icon-black.png") no-repeat scroll right center;
  background-size: contain;
}

select#selectStatus::-ms-expand {
  display: none;
}

#selectCallInType {
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../img/select-icon.png") no-repeat scroll right center #49abf6;
  background-size: contain;
  border: 1px solid #49abf6;
}

select#selectCallInType::-ms-expand {
  display: none;
  background-color: #49abf6;
}
/*# sourceMappingURL=style.css.map */