@charset "UTF-8";
.cchat {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  width: 280px;
  position: fixed;
  top: 58px;
  right: 400px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #cccccc;
  box-shadow: 0 0 20px #cccccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 20000;
}

.cchat * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 上方小三角形 */
.cchat-triangle {
  height: 0;
  width: 0;
  border-bottom: 10px solid #f0f0f0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin: -10px auto 0 auto;
}

.cchat-header {
  padding: 15px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #dddddd;
}

.cchat-header .title {
  font-size: 15px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
}

.cchat-header ul {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.cchat-header ul li {
  float: left;
  list-style: none;
}

.cchat-header ul li.callNumber {
  width: 136px;
  padding: 0 10px;
  text-align: right;
}

.cchat-header .command-btn {
  font-size: 12px;
  padding: 6px 8px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.cchat-header .command-btn:hover {
  border-color: #AAAAAA;
}

.cchat-header .dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: limegreen;
  margin-right: 3px;
}

.cchat-header .dot.gray {
  background-color: gray;
}

.cchat-dial {
  padding: 15px;
  font-weight: lighter;
  height: 403px;
  text-align: center;
  /* ivr加载动画 */
}

.cchat-dial .number-div {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cchat-dial .number-input {
  font-size: 28px;
  width: 100%;
  font-family: inherit;
  font-weight: lighter;
  border: none;
  text-align: center;
  outline: none;
  background-color: transparent;
}

.cchat-dial .backspace {
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}

.cchat-dial table.number-panel {
  width: 100%;
  padding: 0;
  margin-bottom: 10px;
}

.cchat-dial table.number-panel td {
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}

.cchat-dial .number-btn {
  height: 60px;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  border: 1px solid #85BCEA;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cchat-dial .number-btn:hover {
  border-color: #3333ff;
  color: #3333ff;
}

.cchat-dial .number-btn:active {
  background-color: #eeeeff;
}

.cchat-dial .number-btn.call-btn, .cchat-dial .number-btn.hold-btn, .cchat-dial .number-btn.consult-btn, .cchat-dial .number-btn.singleTransfer-btn, .cchat-dial .number-btn.transfer-btn, .cchat-dial .number-btn.conference-btn, .cchat-dial .number-btn.forceInsert-btn, .cchat-dial .number-btn.forceAbort-btn, .cchat-dial .number-btn.ivrAssist-btn, .cchat-dial .number-btn.ivrRouter-btn {
  background-color: #7BA847;
  color: #FFFFFF;
  border: none;
  line-height: 8px;
  padding: 6px;
}

.cchat-dial .number-btn.call-btn.disabled, .cchat-dial .number-btn.hold-btn.disabled, .cchat-dial .number-btn.consult-btn.disabled, .cchat-dial .number-btn.singleTransfer-btn.disabled, .cchat-dial .number-btn.transfer-btn.disabled, .cchat-dial .number-btn.conference-btn.disabled, .cchat-dial .number-btn.forceInsert-btn.disabled, .cchat-dial .number-btn.forceAbort-btn.disabled, .cchat-dial .number-btn.ivrAssist-btn.disabled, .cchat-dial .number-btn.ivrRouter-btn.disabled {
  background-color: #bbbbbb;
}

.cchat-dial .number-btn.call-btn:not(.disabled):hover, .cchat-dial .number-btn.hold-btn:not(.disabled):hover, .cchat-dial .number-btn.consult-btn:not(.disabled):hover, .cchat-dial .number-btn.singleTransfer-btn:not(.disabled):hover, .cchat-dial .number-btn.transfer-btn:not(.disabled):hover, .cchat-dial .number-btn.conference-btn:not(.disabled):hover, .cchat-dial .number-btn.forceInsert-btn:not(.disabled):hover, .cchat-dial .number-btn.forceAbort-btn:not(.disabled):hover, .cchat-dial .number-btn.ivrAssist-btn:not(.disabled):hover, .cchat-dial .number-btn.ivrRouter-btn:not(.disabled):hover {
  background-color: #719a41;
}

.cchat-dial .number-btn.call-btn:not(.disabled):active, .cchat-dial .number-btn.hold-btn:not(.disabled):active, .cchat-dial .number-btn.consult-btn:not(.disabled):active, .cchat-dial .number-btn.singleTransfer-btn:not(.disabled):active, .cchat-dial .number-btn.transfer-btn:not(.disabled):active, .cchat-dial .number-btn.conference-btn:not(.disabled):active, .cchat-dial .number-btn.forceInsert-btn:not(.disabled):active, .cchat-dial .number-btn.forceAbort-btn:not(.disabled):active, .cchat-dial .number-btn.ivrAssist-btn:not(.disabled):active, .cchat-dial .number-btn.ivrRouter-btn:not(.disabled):active {
  background-color: #668b3b;
}

.cchat-dial .number-btn.hold-btn, .cchat-dial .number-btn.consult-btn, .cchat-dial .number-btn.singleTransfer-btn, .cchat-dial .number-btn.transfer-btn, .cchat-dial .number-btn.conference-btn, .cchat-dial .number-btn.forceInsert-btn, .cchat-dial .number-btn.forceAbort-btn, .cchat-dial .number-btn.fullAbort-btn, .cchat-dial .number-btn.ivrAssist-btn, .cchat-dial .number-btn.ivrRouter-btn {
  margin: 0px 5px 30px 5px;
  display: inline-block;
}

.cchat-dial .number-btn.hangup-btn, .cchat-dial .number-btn.fullAbort-btn {
  background-color: #E34D4D;
  color: #FFFFFF;
  border: none;
  line-height: 8px;
  padding: 6px;
}

.cchat-dial .number-btn.hangup-btn.disabled, .cchat-dial .number-btn.fullAbort-btn.disabled {
  background-color: #bbbbbb;
}

.cchat-dial .number-btn.hangup-btn.display-block, .cchat-dial .number-btn.fullAbort-btn.display-block {
  margin: 0 auto;
  display: block;
}

.cchat-dial .number-btn.hangup-btn:not(.disabled):hover, .cchat-dial .number-btn.fullAbort-btn:not(.disabled):hover {
  background-color: #e03737;
}

.cchat-dial .number-btn.hangup-btn:not(.disabled):active, .cchat-dial .number-btn.fullAbort-btn:not(.disabled):active {
  background-color: #db2222;
}

.cchat-dial .number-btn .btn-fa {
  font-size: 30px;
}

.cchat-dial .number-btn .btn-fa .fa-hold .fa-circle, .cchat-dial .number-btn .btn-fa .fa-consultReturn .fa-circle {
  color: #E34D4D;
  padding-right: 20px;
  padding-top: 6px;
  font-size: 18px;
}

.cchat-dial .number-btn .btn-fa .fa-hold .fa-close, .cchat-dial .number-btn .btn-fa .fa-consultReturn .fa-close {
  padding-top: 5px;
  padding-right: 17px;
  font-size: 14px;
}

.cchat-dial .number-btn .btn-fa .fa-fullAbort .fa-circle {
  padding-left: 18px;
  padding-top: 10px;
  font-size: 18px;
}

.cchat-dial .number-btn .btn-fa .fa-fullAbort .fa-close {
  padding-top: 9px;
  padding-left: 20px;
  color: #E34D4D;
  font-size: 14px;
}

.cchat-dial .number-btn .btn-fa .fa-expand {
  padding-right: 8px;
  padding-top: 5px;
  font-size: 20px;
  color: #E51C23;
}

.cchat-dial .number-btn .btn-fa .fa-arrow-up {
  padding-left: 18px;
  padding-top: 5px;
  color: #E51C23;
  font-size: 18px;
}

.cchat-dial .number-btn .btn-fa .fa-ivr {
  width: 48px;
  padding-top: 5px;
  font-size: 22px;
  font-weight: bold;
}

.cchat-dial .number-btn .btn-text {
  font-size: 12px;
  display: inline-block;
}

.cchat-dial .next-btn {
  padding: 10px 30px;
  background-color: #7BA847;
  color: #FFFFFF;
  border-radius: 30px;
  cursor: pointer;
}

.cchat-dial .next-btn:hover {
  background-color: #719a41;
}

.cchat-dial .next-btn:active {
  background-color: #668b3b;
}

.cchat-dial .call-time {
  margin-top: 10px;
  color: #555;
}

.cchat-dial .nextBtnDisabled {
  background-color: gray;
  cursor: not-allowed;
}

.cchat-dial .nextBtnDisabled:hover {
  background-color: gray;
}

.cchat-dial input.chose-item {
  margin: 0px;
  vertical-align: middle;
}

@-webkit-keyframes ivrLoading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ivrLoading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.cchat-dial .ks-cchat-dialog {
  font-weight: normal;
}

.cchat-dial .ks-cchat-dialog .ks-dialog-btns {
  text-align: center;
  margin-top: 10px;
}

.cchat-dial .ks-cchat-dialog .ks-dialog-btns button {
  font-weight: lighter;
  font-size: 13px;
  padding: 4px 16px;
  border: 1px solid;
  border-radius: 4px;
  outline: none;
}

.cchat-dial .ks-cchat-dialog .ks-dialog-btns .ks-dialog-ok {
  color: white;
  background-color: #7aaa3d;
  border: 1px solid #7aaa3d;
}

.cchat-dial .ks-cchat-dialog .ks-dialog-btns .ks-dialog-ok:hover {
  background-color: #6f9b38;
}

.cchat-dial .ks-cchat-dialog .ks-dialog-btns .ks-dialog-ok:active {
  background-color: #648c32;
}

.cchat-dial .ks-cchat-dialog .ks-dialog-btns .ks-dialog-cancle {
  background-color: #dedede;
  border: 1px solid #dedede;
  margin-left: 20px;
}

.cchat-dial .ks-cchat-dialog .ks-dialog-btns .ks-dialog-cancle:hover {
  background-color: #d4d4d4;
}

.cchat-dial .ks-cchat-dialog .ks-dialog-btns .ks-dialog-cancle:active {
  background-color: #cacaca;
}

.cchat-dial .ks-cchat-dialog .ks-dialog-btns .ksBtnDisabled {
  border: 1px solid gray;
  background-color: gray;
  cursor: not-allowed;
}

.cchat-dial .ks-cchat-dialog .ks-dialog-btns .ksBtnDisabled:hover {
  background-color: gray;
}

.cchat-dial .ks-cchat-dialog .ks-list {
  max-height: 306px;
  overflow: auto;
}

.cchat-dial .ks-cchat-dialog .selectedItem {
  background-color: lightgrey;
}

.cchat-dial .ks-cchat-dialog table {
  width: 98%;
}

.cchat-dial .ks-cchat-dialog table tr {
  background-color: white;
}

.cchat-dial .ks-cchat-dialog table tr td {
  padding: 6px 0px;
  border-bottom: 1px solid #ebebeb;
}

.cchat-dial .ks-cchat-dialog table tr:hover {
  cursor: default;
  background-color: #eee;
}

.cchat-dial .ks-cchat-dialog .ks-ivr-title {
  font-size: 16px;
  text-align: left;
  padding-bottom: 10px;
}

.cchat-dial .ks-cchat-dialog .ks-ivr-list {
  margin-bottom: 40px;
}

.cchat-dial .ks-cchat-dialog .ks-ivr-list table {
  text-align: left;
}

.cchat-dial .ks-cchat-dialog .ks-ivr-list table tr td {
  padding: 6px 12px;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog {
  font-size: 18px;
  padding-top: 62px;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog .icon {
  width: 36px;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 38px;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog #ks-ivr-load .text {
  color: #3faefe;
  margin-bottom: 48px;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog #ks-ivr-load .text .vir-node {
  margin-bottom: 38px;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog #ks-ivr-success .text {
  margin-bottom: 38px;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog #ks-ivr-success .text .icon {
  background: url("images/ivr_success.png") 0px 0px no-repeat;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog #ks-ivr-fail .text {
  margin-bottom: 38px;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog #ks-ivr-fail .text .icon {
  background: url("images/ivr_failure.png") 0px 0px no-repeat;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog #ks-ivr-timeout .text, .cchat-dial .ks-cchat-dialog #ivr-confirm-dialog #ks-ivr-error .text {
  margin-bottom: 38px;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog #ks-ivr-timeout .text .icon, .cchat-dial .ks-cchat-dialog #ivr-confirm-dialog #ks-ivr-error .text .icon {
  background: url("images/ivr_error.png") 0px 0px no-repeat;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog .load span:nth-child(1) {
  -webkit-animation: ivrLoading 0.75s 0s infinite;
  animation: ivrLoading 0.75s 0s infinite;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog .load span:nth-child(2) {
  -webkit-animation: ivrLoading 0.75s 0.12s infinite;
  animation: ivrLoading 0.75s 0.12s infinite;
}

.cchat-dial .ks-cchat-dialog #ivr-confirm-dialog .load span:nth-child(3) {
  -webkit-animation: ivrLoading 0.75s 0.24s infinite;
  animation: ivrLoading 0.75s 0.24s infinite;
}

.cchat-float-right {
  float: right;
}

.cchat-dis {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #dddddd;
  text-align: center;
}

.cchat-dis > div:first-of-type {
  cursor: pointer;
}

.cchat-dis > div:first-of-type > p {
  width: 184px;
  display: inline-block;
  overflow: hidden;
  white-space: pre;
}

.cchat-dis > div:first-of-type i {
  vertical-align: top;
}

.cchat-dis .disnumber-container {
  clear: both;
  border: 1px solid #dddddd;
  border-radius: 30px;
  padding: 6px 10px;
  height: 30px;
}

.cchat-dis .outCallTypeCss {
  background-color: lightgray;
  opacity: 0.3;
  color: lightgray;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cchat-dis .disnumber-outCallType {
  font-size: 12px;
  margin-bottom: 5px;
  position: relative;
}

.cchat-dis .disnumber-outCallType div {
  display: inline-block;
  width: 50%;
  float: left;
  margin-bottom: 10px;
}

.cchat-dis .disnumber-outCallType input[type='radio'] {
  width: 15px;
  height: 15px;
  opacity: 0;
}

.cchat-dis .disnumber-outCallType label {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #7BA847;
  cursor: pointer;
}

.cchat-dis .disnumber-outCallType .manualSelectLabel {
  left: 8px;
  top: 7px;
}

.cchat-dis .disnumber-outCallType .intelSelectLabel {
  left: 120px;
  top: 7px;
}

.cchat-dis .disnumber-outCallType input:checked + label {
  background-color: #7BA847;
  border: 1px solid #7BA847;
  padding: 2px;
  background-clip: content-box;
}

.cchat-dis .disnumber-outCallType input:checked + label::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 10px;
  top: 3px;
  left: 6px;
}

.cchat-dis .disnumber-box {
  position: absolute;
  left: 20px;
  top: 53px;
  width: 210px;
  -webkit-box-shadow: 0 0 2px 2px rgba(42, 42, 42, 0.2);
          box-shadow: 0 0 2px 2px rgba(42, 42, 42, 0.2);
  background-color: white;
  z-index: 100;
}

.cchat-dis .disnumber-box > div {
  margin: 10px auto;
  width: 170px;
  display: block;
  text-align: left;
  padding-top: 0;
}

.cchat-dis .disnumber-box > div i {
  vertical-align: middle;
}

.cchat-dis .disnumber-box > div input {
  width: 120px;
  margin-top: 2px;
  margin-left: 5px;
  outline: none;
  border: none;
}

.cchat-dis .disnumber-box > div input::-webkit-outer-spin-button,
.cchat-dis .disnumber-box > div input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

.cchat-dis .disnumber-box ul {
  padding-left: 0;
  max-height: 255px;
  overflow-y: auto;
  text-align: left;
}

.cchat-dis .disnumber-box ul li {
  padding: 5px 18px;
  list-style-type: none;
  cursor: pointer;
}

.cchat-dis .disnumber-box ul li p {
  margin-bottom: 0;
}

.cchat-dis .disnumber-box ul li + li {
  border-top: 1px solid #ededed;
}

.cchat-dis .disnumber-box:before {
  position: absolute;
  top: -17px;
  content: "";
  width: 8px;
  height: 8px;
  border: 8px solid rgba(42, 42, 42, 0);
  border-bottom: 8px solid rgba(42, 42, 42, 0.2);
}

.cchat-dis .disnumber-select {
  border: 0;
  height: 28px;
  outline: 0;
  font-size: 14px;
  background-color: transparent;
  margin-left: 5px;
}

/* 去除输入框在IE下的叉号 */
input.number-input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.ks-centre-input {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.07);
  border: 1px solid #bbbbbb;
}

.ivrInput .qn-input {
  margin-top: 100px;
  width: 100%;
  height: 36px;
  border: 1px solid #999999;
  border-radius: 4px;
  outline: none;
}

.ivrInput p {
  text-align: left;
  color: #ff0000;
  font-size: 1px;
}

.ivrInput > div:first-of-type {
  margin-top: 80px !important;
}

.ivrInput > div:last-of-type {
  margin-top: 20px !important;
}

.ivrInput > div:last-of-type span {
  color: #7aaa3d;
  text-decoration: underline;
  cursor: pointer;
}

.qn-ringing {
  right: 0;
  bottom: 0;
  width: 326px;
  color: #333333;
  position: fixed;
  z-index: 30000;
  -webkit-box-shadow: 0 0 10px #cccccc;
          box-shadow: 0 0 10px #cccccc;
}

.qn-ringing .ringingCaption {
  background-color: #e0e2e3;
  font-size: 16px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.qn-ringing .ringingCaption .ringingAutoAnswer {
  cursor: pointer;
}

.qn-ringing .ringingCaption .close {
  position: absolute;
  top: 0px;
  right: 1px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background-color: lightgray;
}

.qn-ringing .ringingBtnGroup {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.qn-ringing .ringingBtnGroup button {
  font-size: 14px;
  color: #ffffff;
  width: 80px;
  height: 36px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fa635f;
}

.qn-ringing .ringingBtnGroup .answer {
  background-color: #2bb8ed;
}

.qn-ringing .ringingBtnGroup .answered {
  background-color: #d7d7d7;
  color: #333333;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 6px;
}
/*# sourceMappingURL=cchat.css.map */