@charset "UTF-8";

$cchat-width: 280px;
$cchat-top: 58px;
$cchat-right: 400px;
$cchat-bg-color: #ffffff;
$cchat-header-bg-color: #f0f0f0;

$number-btn-size: 60px;
$number-btn-hover-color: #3333ff;
$number-btn-active-color: #eeeeff;
$call-btn-color: #7BA847;
$next-btn-color: limegreen;
$ks-dialog-ok: #7aaa3d;
$ks-dialog-cancle: #dedede;
$hangup-btn-color: #E34D4D;

@mixin user-select($value) {
    -webkit-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}

@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}

@mixin round {
    @include border-radius(50%);
}

@mixin box-sizing-border {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin box-shadow($h-shadow, $v-shadow, $blur, $color) {
    -webkit-box-shadow: $h-shadow $v-shadow $blur $color;
    -moz-box-shadow: $h-shadow $v-shadow $blur $color;
    box-shadow: $h-shadow $v-shadow $blur $color;
}

@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
    transform: $value;
}

.cchat {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    width: $cchat-width;
    position: fixed;
    top: $cchat-top;
    right: $cchat-right;
    background-color: $cchat-bg-color;
    @include border-radius(5px);
    //box-shadow: 0 0 20px #cccccc;
    @include box-shadow(0, 0, 20px, #cccccc);
    @include box-sizing-border;
    z-index: 20000;

    & * {
        @include box-sizing-border;
    }
}

/* 上方小三角形 */
.cchat-triangle {
    height: 0;
    width: 0;
    border: {
        bottom: 10px solid #f0f0f0;
        left: 10px solid transparent;
        right: 10px solid transparent;
    }
    margin: -10px auto 0 auto;
}

.cchat-header {
    padding: 15px;
    background-color: $cchat-header-bg-color;
    border-bottom: 1px solid #dddddd;

    .title {
        font-size: 15px;
        display: inline-block;
        height: 32px;
        line-height: 32px;
    }

    ul {
        padding: 0px;
        margin: 0px;
        overflow: hidden;

        li {
            float: left;
            list-style: none;

            &.callNumber {
                width: 136px;
                padding: 0 10px;
                text-align: right;
            }
        }
    }

    & .command-btn {
        font-size: 12px;
        padding: 6px 8px;
        border: 1px solid #dddddd;
        background-color: #ffffff;
        @include border-radius(5px);
        cursor: pointer;
        outline: none;

        &:hover {
            border-color: #AAAAAA;
        }
    }

    & .dot {
        display: inline-block;
        height: 8px;
        width: 8px;
        @include round;
        background-color: limegreen;
        margin-right: 3px;

        &.gray {
            background-color: gray;
        }
    }
}

.cchat-dial {
    padding: 15px;
    font-weight: lighter;
    height: 403px;
    text-align: center;

    & .number-div {
        position: relative;
        @include user-select(none);
    }

    & .number-input {
        font-size: 28px;
        width: 100%;
        font-family: inherit;
        font-weight: lighter;
        border: none;
        text-align: center;
        outline: none;
        background-color: transparent;
    }

    & .backspace {
        position: absolute;
        top: 10px;
        right: 0;
        cursor: pointer;
    }

    & table.number-panel {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;

        & td {
            text-align: center;
            vertical-align: middle;
            padding: 2px;
        }
    }

    & .number-btn {
        height: $number-btn-size;
        width: $number-btn-size;
        line-height: $number-btn-size;
        @include round;
        border: 1px solid #85BCEA;
        font-size: 24px;
        text-align: center;
        margin: 0 auto;
        cursor: pointer;
        @include user-select(none);

        &:hover {
            border-color: $number-btn-hover-color;
            color: $number-btn-hover-color;
        }

        &:active {
            background-color: $number-btn-active-color;
        }

        &.call-btn, &.hold-btn, &.consult-btn, &.singleTransfer-btn, &.transfer-btn, &.conference-btn, &.forceInsert-btn, &.forceAbort-btn, &.ivrAssist-btn, &.ivrRouter-btn {
            background-color: $call-btn-color;
            color: #FFFFFF;
            border: none;
            line-height: 8px;
            padding: 6px;

            &.disabled {
                background-color: #bbbbbb;
            }

            &:not(.disabled):hover {
                background-color: darken($call-btn-color, 4%);
            }

            &:not(.disabled):active {
                background-color: darken($call-btn-color, 8%);
            }
        }

        &.hold-btn, &.consult-btn, &.singleTransfer-btn, &.transfer-btn, &.conference-btn, &.forceInsert-btn, &.forceAbort-btn, &.fullAbort-btn, &.ivrAssist-btn, &.ivrRouter-btn {
            margin: 0px 5px 30px 5px;
            display: inline-block;
        }

        &.hangup-btn, &.fullAbort-btn {
            background-color: $hangup-btn-color;
            color: #FFFFFF;
            border: none;
            line-height: 8px;
            padding: 6px;
            //@include transform(rotate(135deg));

            &.disabled {
                background-color: #bbbbbb;
            }

            &.display-block {
                margin: 0 auto;
                display: block;
            }

            &:not(.disabled):hover {
                background-color: darken($hangup-btn-color, 5%);
            }

            &:not(.disabled):active {
                background-color: darken($hangup-btn-color, 10%);
            }
        }

        .btn-fa {
            font-size: 30px;

            .fa-hold, .fa-consultReturn {
                .fa-circle {
                    color: $hangup-btn-color;
                    padding-right: 20px;
                    padding-top: 6px;
                    font-size: 18px;
                }

                .fa-close {
                    padding-top: 5px;
                    padding-right: 17px;
                    font-size: 14px;
                }
            }

            .fa-fullAbort {
                .fa-circle {
                    padding-left: 18px;
                    padding-top: 10px;
                    font-size: 18px;
                }

                .fa-close {
                    padding-top: 9px;
                    padding-left: 20px;
                    color: $hangup-btn-color;
                    font-size: 14px;
                }
            }

            .fa-expand {
                padding-right: 8px;
                padding-top: 5px;
                font-size: 20px;
                color: #E51C23;
            }

            .fa-arrow-up {
                padding-left: 18px;
                padding-top: 5px;
                color: #E51C23;
                font-size: 18px;
            }

            .fa-ivr {
                width: 48px;
                padding-top: 5px;
                font-size: 22px;
                font-weight: bold;
            }

        }

        .btn-text {
            font-size: 12px;
            display: inline-block;
        }
    }

    & .next-btn {
        padding: 10px 30px;
        background-color: $call-btn-color;
        color: #FFFFFF;
        @include border-radius(30px);
        cursor: pointer;

        &:hover {
            background-color: darken($call-btn-color, 4%);
        }

        &:active {
            background-color: darken($call-btn-color, 8%);
        }
    }

    & .call-time {
        margin-top: 10px;
        color: #555;
    }

    .nextBtnDisabled {
        background-color: gray;
        cursor: not-allowed;

        &:hover {
            background-color: gray;
        }
    }

    input.chose-item {
        margin: 0px;
        vertical-align: middle;
    }

    /* ivr加载动画 */
    @-webkit-keyframes ivrLoading {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes ivrLoading {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 0;
        }
    }

    .ks-cchat-dialog {
        font-weight: normal;

        .ks-dialog-btns {
            text-align: center;
            margin-top: 10px;

            button {
                font-weight: lighter;
                font-size: 13px;
                padding: 4px 16px;
                border: 1px solid;
                border-radius: 4px;
                //background-color: $call-btn-color;
                outline: none;
            }

            .ks-dialog-ok {
                color: white;
                background-color: $ks-dialog-ok;
                border: 1px solid $ks-dialog-ok;

                &:hover {
                    background-color: darken($ks-dialog-ok, 4%);
                }

                &:active {
                    background-color: darken($ks-dialog-ok, 8%);
                }
            }

            .ks-dialog-cancle {
                //color: $font-color;
                background-color: $ks-dialog-cancle;
                border: 1px solid $ks-dialog-cancle;
                margin-left: 20px;

                &:hover {
                    background-color: darken($ks-dialog-cancle, 4%);
                }

                &:active {
                    background-color: darken($ks-dialog-cancle, 8%);
                }
            }

            .ksBtnDisabled {
                border: 1px solid gray;
                background-color: gray;
                cursor: not-allowed;

                &:hover {
                    background-color: gray;
                }
            }
        }

        .ks-list {
            max-height: 306px;
            overflow: auto;
        }

        .selectedItem {
            background-color: lightgrey;
        }

        table {
            width: 98%;

            tr {
                background-color: white;

                td {
                    padding: 6px 0px;
                    border-bottom: 1px solid #ebebeb;
                }

                &:hover {
                    cursor: default;
                    background-color: #eee;
                }
            }
        }

        .ks-ivr-title {
            font-size: 16px;
            text-align: left;
            padding-bottom: 10px;
        }

        .ks-ivr-list {
            margin-bottom: 40px;

            table {
                text-align: left;

                tr {
                    td {
                        padding: 6px 12px;
                    }
                }
            }
        }

        #ivr-confirm-dialog {
            font-size: 18px;
            padding-top: 62px;

            .icon {
                width: 36px;
                height: 36px;
                margin: 0 auto;
                margin-bottom: 38px;
            }

            #ks-ivr-load {
                .text {
                    .vir-node {
                        margin-bottom: 38px;
                    }

                    color: #3faefe;
                    margin-bottom: 48px;
                }
            }

            #ks-ivr-success {
                .text {
                    margin-bottom: 38px;

                    .icon {
                        background: url('images/ivr_success.png') 0px 0px no-repeat;
                    }
                }
            }

            #ks-ivr-fail {
                .text {
                    margin-bottom: 38px;

                    .icon {
                        background: url('images/ivr_failure.png') 0px 0px no-repeat;
                    }
                }
            }

            #ks-ivr-timeout, #ks-ivr-error {
                .text {
                    margin-bottom: 38px;

                    .icon {
                        background: url('images/ivr_error.png') 0px 0px no-repeat;
                    }
                }
            }

            .load {
                span:nth-child(1) {
                    -webkit-animation: ivrLoading 0.75s 0s infinite;
                    animation: ivrLoading 0.75s 0s infinite;
                }

                span:nth-child(2) {
                    -webkit-animation: ivrLoading 0.75s 0.12s infinite;
                    animation: ivrLoading 0.75s 0.12s infinite;
                }

                span:nth-child(3) {
                    -webkit-animation: ivrLoading 0.75s 0.24s infinite;
                    animation: ivrLoading 0.75s 0.24s infinite;
                }
            }
        }
    }
}

.cchat-float-right {
    float: right;
}

.cchat-dis {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #dddddd;
    text-align: center;

    > div:first-of-type {
        cursor: pointer;

        > p {
            width: 184px;
            display: inline-block;
            overflow: hidden;
            white-space: pre;
        }

        i {
            vertical-align: top;
        }
    }

    & .disnumber-container {
        clear: both;
        border: 1px solid #dddddd;
        border-radius: 30px;
        padding: 6px 10px;
        height: 30px;
    }

    & .outCallTypeCss {
        background-color: lightgray;
        opacity: 0.3;
        color: lightgray;
        user-select: none;
    }

    .disnumber-outCallType {
        font-size: 12px;
        margin-bottom: 5px;
        position: relative;

        div {
            display: inline-block;
            width: 50%;
            float: left;
            margin-bottom: 10px;
        }

        input[type='radio'] {
            width: 15px;
            height: 15px;
            opacity: 0;
        }

        label {
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #7BA847;
            cursor: pointer;
        }

        .manualSelectLabel {
            left: 8px;
            top: 7px;
        }

        .intelSelectLabel {
            left: 120px;
            top: 7px;
        }

        input:checked + label {
            background-color: #7BA847;
            border: 1px solid #7BA847;
            padding: 2px;
            background-clip: content-box;
        }

        input:checked + label::after {
            position: absolute;
            content: "";
            width: 5px;
            height: 10px;
            top: 3px;
            left: 6px;
        }
    }

    .disnumber-box {
        position: absolute;
        left: 20px;
        top: 53px;
        width: 210px;
        box-shadow: 0 0 2px 2px rgba(42, 42, 42, 0.2);
        background-color: white;
        z-index: 100;

        > div {
            margin: 10px auto;
            width: 170px;
            display: block;
            text-align: left;
            padding-top: 0;

            i {
                vertical-align: middle;
            }

            input {
                width: 120px;
                margin-top: 2px;
                margin-left: 5px;
                outline: none;
                border: none;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none !important;
                margin: 0;
            }
        }

        ul {
            padding-left: 0;
            max-height: 255px;
            overflow-y: auto;
            text-align: left;

            li {
                padding: 5px 18px;
                list-style-type: none;
                cursor: pointer;

                p {
                    margin-bottom: 0;
                }
            }

            li + li {
                border-top: 1px solid #ededed;
            }
        }

        &:before {
            position: absolute;
            top: -17px;
            content: "";
            width: 8px;
            height: 8px;
            border: 8px solid rgba(42, 42, 42, 0);
            border-bottom: 8px solid rgba(42, 42, 42, 0.2);
        }
    }

    & .disnumber-select {
        border: 0;
        height: 28px;
        outline: 0;
        font-size: 14px;
        background-color: transparent;
        margin-left: 5px;
    }
}

/* 去除输入框在IE下的叉号 */
input.number-input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.ks-centre-input {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.07);
    border: 1px solid rgba(187, 187, 187, 100);
}

.ivrInput {
    .qn-input {
        margin-top: 100px;
        width: 100%;
        height: 36px;
        border: 1px solid #999999;
        border-radius: 4px;
        outline: none;
    }

    p {
        text-align: left;
        color: #ff0000;
        font-size: 1px;
    }

    > div:first-of-type {
        margin-top: 80px !important;
    }

    > div:last-of-type {
        margin-top: 20px !important;

        span {
            color: $ks-dialog-ok;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.qn-ringing {
    //display: none;
    right: 0;
    bottom: 0;
    width: 326px;
    color: #333333;
    //box-shadow: 0 0 10px #eee;
    // display: none;
    position: fixed;
    z-index: 30000;
    box-shadow: 0 0 10px #cccccc;

    .ringingCaption {
        background-color: #e0e2e3;
        font-size: 16px;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;

        .ringingAutoAnswer {
            cursor: pointer;
        }

        .close {
            position: absolute;
            top: 0px;
            right: 1px;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            background-color: lightgray;
        }
    }

    .ringingBtnGroup {
        // height: 110px;
        padding: 25px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #ffffff;

        button {
            font-size: 14px;
            color: #ffffff;
            width: 80px;
            height: 36px;
            border-radius: 4px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #fa635f;
        }

        .answer {
            background-color: #2bb8ed;
        }

        .answered {
            background-color: #d7d7d7;
            color: #333333;
        }
    }
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 6px;
}
