@CHARSET "UTF-8";
.qn {
  font-family: Microsoft Yahei;
  font-size: 12px;
  position: fixed;
  /*bottom: -500px;
	right: -500px;*/
  z-index: 1000;
}

.qn-line {
  text-align: center;
  padding: 5px;
}

.qn-icon {
  position: fixed;
  cursor: pointer;
  border-radius: 5px;
  font-size: 46px;
  z-index: 1000;
}

.qn-icon:hover {
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.qn-hidden {
  display: none;
}

.qn-login {
  height: 330px;
  width: 330px;
  background: url("../images/login_bg.png") no-repeat;
  padding-top: 10px;
}

.qn-login-main {
  width: 95%;
}

.qn-login-table {
  margin: 5px auto;
}

.qn-login-table td {
  padding: 3px;
  text-align: left;
}

.qn-login-button {
  border: none;
  background-color: #68F;
  padding: 5px 0;
  width: 100px;
  text-align: center;
  color: #FFF;
  cursor: pointer;
  font-family: inherit;
  border-radius: 5px;
  outline: 0;
}

.qn-login-button:not(:disabled):not(:active):hover {
  background-color: #79F;
}

.qn-login-button:active {
  background-color: #46F;
}

button.qn-login-button[disabled] {
  background-color: #bbbbbb;
  cursor: default;
}

.qn-message-span {
  color: #EF4907;
}

.qn-logo-all {
  width: 300px;
  height: 60px;
  margin: 0 auto;
  background: url("../images/logo_all.png") no-repeat;
}

.qn-main {
  height: 330px;
  width: 330px;
  background: url("../images/main_bg.png") no-repeat;
  position: relative;
}

.qn-tip {
  width: 160px;
  padding: 10px;
  line-height: 2;
  text-align: center;
  position: absolute;
  left: 70px;
  top: 100px;
  background-color: #F80;
  color: #FFF;
  display: none;
}

.qn-tip-success {
  background-color: #5cb85c;
}

.qn-top {
  /*width: 95%;*/
  width: 97%;
  padding: 5px 0;
}

.qn-top-table {
  width: 100%;
  height: 100%;
}

.qn-top-table tr {
  height: 100%;
}

.qn-top-table tr td {
  /*width: 20%;*/
  width: 18%;
  text-align: center;
}

.qn-middle {
  width: 95%;
}

.qn-bold-text {
  font-size: 18px;
  font-weight: bold;
  color: #F00;
  background: url("../images/input_bgs_small.png") no-repeat;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 85px;
}

.qn-input {
  width: 180px;
  padding: 5px;
  border: 1px solid #A9A9A9;
  background-color: #FFF;
  outline: 0;
}

.qn-input-head {
  padding: 5px 3px;
}

.qn-input:focus {
  border-color: #33A0E5;
}

select.qn-input {
  width: 183px;
  height: 27px;
  padding-left: 3px;
  padding-right: 3px;
}

span.qn-input {
  background-color: transparent;
}

.qn-input.bold {
  font-weight: bold;
}

.qn-command {
  width: 95%;
  height: 180px;
  padding-left: 5px;
}

.qn-command-table {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.qn-command-table tr {
  height: 33.33%;
}

.qn-command-table tr td {
  width: 20%;
  /*width: 18%;*/
  text-align: center;
}

.qn-button {
  /*width: 50px;*/
  height: 45px;
  text-align: center;
  padding-top: 3px;
  margin: 0 auto;
  border: 1px solid transparent;
}

/*.qn-button-head {*/
/*width: 40px;*/
/*}*/
.qn-button:hover {
  border-color: #AAA;
  border-radius: 5px;
  cursor: pointer;
}

.qn-button:active {
  background-color: #DDD;
}

.qn-button-disabled {
  background-color: #AAA;
}

.qn-button-img {
  width: 40px;
  height: 25px;
  margin: 0 auto 3px;
}

.qn-button-img-thin {
  width: 33px;
  height: 30px;
  margin: 0 auto;
}

.qn-button-call, .qn-button-call-disable, .qn-button-hangup, .qn-button-hangup-disable, .qn-button-ready, .qn-button-ready-disable, .qn-button-busy, .qn-button-busy-disable, .qn-button-away, .qn-button-away-disable, .qn-button-logout, .qn-button-logout-disable, .qn-button-keep, .qn-button-keep-disable, .qn-button-keep-return, .qn-button-keep-return-disable, .qn-button-ivr, .qn-button-ivr-disable, .qn-button-transfer, .qn-button-transfer-disable, .qn-button-consult, .qn-button-consult-disable, .qn-button-consult-return, .qn-button-consult-return-disable, .qn-button-meeting, .qn-button-meeting-disable, .qn-button-observe, .qn-button-observe-disable, .qn-button-force-insert, .qn-button-force-insert-disable, .qn-button-force-abort, .qn-button-force-abort-disable, .qn-button-reset, .qn-button-reset-disable {
  background: url("../images/all_icons.png") no-repeat;
}

.qn-button-call {
  background-position: -110px -7px;
}

.qn-button-call-disable {
  background-position: -168px -7px;
}

.qn-button-hangup {
  background-position: 0 -94px;
}

.qn-button-hangup-disable {
  background-position: -50px -95px;
}

.qn-button-ready {
  background-position: -1px -185px;
}

.qn-button-ready-disable {
  background-position: -53px -185px;
}

.qn-button-busy {
  background-position: -6px 0;
}

.qn-button-busy-disable {
  background-position: -57px -1px;
}

.qn-button-away {
  background-position: -4px -227px;
}

.qn-button-away-disable {
  background-position: -54px -228px;
}

.qn-button-logout {
  background-position: -3px -138px;
}

.qn-button-logout-disable {
  background-position: -54px -138px;
}

.qn-button-keep {
  background-position: -231px -93px;
}

.qn-button-keep-disable {
  background-position: -289px -94px;
}

.qn-button-keep-return {
  background-position: -231px -93px;
}

.qn-button-keep-return-disable {
  background-position: -289px -94px;
}

.qn-button-ivr {
  background-position: -112px -94px;
}

.qn-button-ivr-disable {
  background-position: -168px -94px;
}

.qn-button-transfer {
  background-position: -229px -192px;
}

.qn-button-transfer-disable {
  background-position: -288px -191px;
}

.qn-button-consult {
  background-position: -232px -5px;
}

.qn-button-consult-disable {
  background-position: -291px -6px;
}

.qn-button-consult-return {
  background-position: -1px -45px;
}

.qn-button-consult-return-disable {
  background-position: -51px -45px;
}

.qn-button-meeting {
  background-position: -110px -141px;
}

.qn-button-meeting-disable {
  background-position: -172px -141px;
}

.qn-button-observe {
  background-position: -232px -141px;
}

.qn-button-observe-disable {
  background-position: -290px -142px;
}

.qn-button-force-insert {
  background-position: -232px -46px;
}

.qn-button-force-insert-disable {
  background-position: -291px -46px;
}

.qn-button-force-abort {
  background-position: -114px -46px;
}

.qn-button-force-abort-disable {
  background-position: -170px -46px;
}

.qn-button-reset {
  background-position: -103px -193px;
}

.qn-button-reset-disable {
  background-position: -170px -192px;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

/* Dialog */
.ks-dialog {
  width: 210px;
  height: 254px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 37px;
  left: 56px;
  background-color: white;
  padding: 15px 22px 10px 22px;
  font-size: 14px;
  color: #333;
  text-align: center;
  overflow: hidden;
}

.ks-dialog .ks-dialog-title {
  padding-bottom: 10px;
}

.ks-dialog input.chose-item {
  margin: 0px;
  vertical-align: middle;
}

.ks-dialog .ks-list {
  max-height: 165px;
  overflow: auto;
}

.ks-dialog .ks-table {
  width: 98%;
}

.ks-dialog .ks-table tr {
  background-color: white;
}

.ks-dialog .ks-table tr td {
  padding: 3px 0px;
}

.ks-dialog .ks-table tr:hover {
  cursor: default;
  background-color: #eee;
}

.ks-dialog .selectedItem {
  background-color: lightgrey;
}

.ks-dialog .ks-away-list ul {
  padding: 0;
  overflow: hidden;
}

.ks-dialog .ks-away-list ul li {
  width: 80px;
  float: left;
  list-style: none;
}

.ks-dialog .ks-away-list ul li input {
  margin-right: 6px;
}

.ks-dialog .ks-away-list ul li label {
  font-weight: normal;
}

.ks-dialog .ks-dialog-btns {
  text-align: center;
  margin-top: 10px;
}

.ks-dialog .ks-dialog-btns button {
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  border: 1px solid;
  cursor: pointer;
}

.ks-dialog .ks-dialog-btns .ks-dialog-ok {
  color: white;
  background-color: #169dff;
  border: 1px solid #169dff;
}

.ks-dialog .ks-dialog-btns .ks-dialog-ok:hover {
  background-color: #0294ff;
}

.ks-dialog .ks-dialog-btns .ks-dialog-ok:active {
  background-color: #0089ec;
}

.ks-dialog .ks-dialog-btns .ks-dialog-cancle {
  background-color: #dedede;
  border: 1px solid #dedede;
  margin-left: 20px;
}

.ks-dialog .ks-dialog-btns .ks-dialog-cancle:hover {
  background-color: #d4d4d4;
}

.ks-dialog .ks-dialog-btns .ks-dialog-cancle:active {
  background-color: #cacaca;
}

.ks-dialog .ks-dialog-btns .ksBtnDisabled {
  border: 1px solid gray;
  background-color: gray;
  cursor: not-allowed;
}

.ks-dialog .ks-dialog-btns .ksBtnDisabled:hover {
  background-color: gray;
}

.ks-dialog #ivr-confirm-dialog {
  font-size: 16px;
  padding-top: 62px;
}

.ks-dialog #ivr-confirm-dialog .icon {
  width: 36px;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 38px;
}

.ks-dialog #ivr-confirm-dialog #ks-ivr-load .text, .ks-dialog #ivr-confirm-dialog #ks-ivr-success .text, .ks-dialog #ivr-confirm-dialog #ks-ivr-fail .text {
  margin-bottom: 88px;
}

.ks-dialog-shade {
  height: 320px;
  width: 320px;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 6px;
}
/*# sourceMappingURL=WA.css.map */