*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .video-content{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .localVideo-box,
  .remoteVideo-box{
    display: flex;
    align-items: center;
    margin: 30px 10px;
    width: 534px;
    height: 300px;
    border: 1px solid black;
    overflow: hidden;
  }
  #localVideo,
  #remoteVideo{
    width: 100%;
    object-fit: fill;
  }